.navlink {
    position: relative;
}

.navlink::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 0.25rem;
    background-color: var(--color-primary);
    border-radius: 100px;
    transition: width 0.2s ease-in-out;
}

.navlink:hover::after {
    width: 100%;
}

.active-navlink::after {
    width: 100%;
}